body {
  padding: 65px 0px;
}

.thumbnail {
  color: #777;
  text-align: right;
}

.hero-unit > img {
  float: right;
  margin-top: -20px;
}

a.none {
  color: #000;
}

a.none:hover {
  color: #000;
}

.chrome, .firefox, .browser {
  display: none;
}